@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");
footer nav .footer-nav, footer nav .social {
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 10%;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 700px (1fr)[3];
      grid-template-rows: 700px repeat(3, 1fr);
      grid-template-areas: "head" "main" "images" "footer";
  margin: 0;
  width: 100vw;
  height: 100vh;
}

.container img {
  max-width: 100%;
  display: block;
}

header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: head;
  background-image: url("images/mobile/image-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 7%;
}

header nav .logo {
  margin-left: 6%;
}

header nav .burger {
  margin-right: 6%;
}

header .toggle-menu {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 89%;
  left: 5%;
  top: 20%;
  padding: 0;
  background-color: white;
}

header .toggle-menu .right-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .toggle-menu li {
  padding-top: 10%;
  padding-bottom: 10%;
}

header .toggle-menu li a {
  text-decoration: none;
  font-family: "Barlow", sans-serif;
  color: #818498;
}

header .toggle-menu li a:hover {
  color: #23303e;
}

header .toggle-menu li .button {
  background-color: #fad400;
  border: none;
  border-radius: 25px;
  color: #23303e;
  padding: 15px 32px;
  font-family: "Fraunces", serif;
  text-transform: uppercase;
  text-align: center;
}

header .toggle-menu li .button:hover {
  background-color: #fad400;
  color: white;
}

header .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .title h1 {
  text-transform: uppercase;
  text-align: center;
  font-family: "Fraunces", serif;
  color: white;
  letter-spacing: 10px;
  font-size: 300%;
  padding-top: 30%;
  padding-bottom: 5%;
}

main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: main;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: (0.1fr)[7];
      grid-template-rows: repeat(7, 0.1fr);
      grid-template-areas: "egg" "brand" "wine" "standout" "graphic" "photo" "feedback";
}

main .egg {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: egg;
}

main .brand {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: brand;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  line-height: 170%;
  padding: 10% 0 10% 0;
  width: 75%;
}

main .brand p {
  color: #818498;
  font-size: 1.1rem;
}

main .brand h2 {
  font-size: 200%;
  font-weight: 900;
  line-height: 130%;
}

main .brand h2, main .brand .learn {
  font-family: "Fraunces", serif;
  color: #23303e;
}

main .brand .learn {
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 7%;
  border-bottom: 5px solid rgba(250, 212, 0, 0.3);
}

main .brand .learn:hover {
  border-bottom: 5px solid #fad400;
}

main .glass {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: wine;
}

main .standout {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: standout;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  line-height: 170%;
  padding: 10% 0 10% 0;
  width: 75%;
}

main .standout p {
  color: #818498;
  font-size: 1.1rem;
}

main .standout h2 {
  font-size: 200%;
  font-weight: 900;
  line-height: 130%;
}

main .standout h2, main .standout .learn {
  font-family: "Fraunces", serif;
  color: #23303e;
}

main .standout .learn {
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 7%;
  border-bottom: 5px solid rgba(254, 120, 103, 0.3);
}

main .standout .learn:hover {
  border-bottom: 5px solid #fe7867;
}

main .graphic {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: graphic;
}

main .graphic .text-overlay {
  color: #25564b;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 5%;
  line-height: 1.7em;
  margin-top: 90%;
}

main .graphic h3 {
  font-family: "Fraunces", serif;
  font-size: 1.8rem;
}

main .graphic p {
  font-family: "Barlow", sans-serif;
  opacity: 0.7;
}

main .photo {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: photo;
}

main .photo .text-overlay {
  color: #19536b;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 5%;
  line-height: 1.7em;
  margin-top: 90%;
}

main .photo h3 {
  font-family: "Fraunces", serif;
  font-size: 1.8rem;
}

main .photo p {
  font-family: "Barlow", sans-serif;
  opacity: 0.7;
}

main .container-clients {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  grid-area: feedback;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10%;
  padding-bottom: 10%;
}

main .container-clients h3 {
  font-family: "Fraunces", serif;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #a7abae;
}

main .container-clients .clients {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "emily"  "thomas"  "jennie";
  padding-top: 5%;
}

main .container-clients .clients .emily {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: emily;
}

main .container-clients .clients .thomas {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: thomas;
}

main .container-clients .clients .jennie {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: jennie;
}

main .container-clients .clients .blurb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1.7em;
  text-align: center;
}

main .container-clients .clients .blurb p {
  font-family: "Barlow", sans-serif;
  color: #5a636c;
}

main .container-clients .clients div p:first-child {
  font-family: "Fraunces", serif;
  color: #23303e;
  font-size: 1.1rem;
  margin-bottom: 0;
}

main .container-clients .clients div p:last-child {
  font-family: "Barlow", sans-serif;
  color: #a7abae;
  font-size: 0.9rem;
  margin-top: 0;
}

main .container-clients .clients img {
  border-radius: 50%;
  margin-bottom: 2%;
  margin-top: 10%;
}

main .container-clients .clients img + p {
  width: 77%;
}

.images {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: images;
}

.images .gallery {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: "img1 img2" "img3 img4";
}

.images .gallery .milk {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: img1;
}

.images .gallery .orange {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: img2;
}

.images .gallery .cone {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: img3;
}

.images .gallery .cube {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: img4;
}

footer {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: footer;
  background-color: rgba(69, 140, 126, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10%;
  padding-bottom: 10%;
}

footer svg {
  fill: #2C7566;
}

footer nav .footer-nav li {
  padding-left: 10%;
  padding-right: 10%;
}

footer nav .footer-nav li a {
  color: #458c7e;
  font-family: "Barlow", sans-serif;
  text-decoration: none;
  padding-right: 10%;
  padding-left: 10%;
}

footer nav .footer-nav li a:hover {
  color: white;
}

footer nav .social li {
  padding-right: 5%;
  padding-left: 5%;
}

footer nav .social svg {
  fill: #2C7566;
}

footer nav .social svg:hover {
  fill: white;
}

.attribution {
  text-align: center;
  font-family: "Barlow", sans-serif;
  color: #458c7e;
}

.attribution a {
  color: #23303e;
  text-decoration: underline;
}

.attribution a:hover {
  color: white;
}

@media screen and (min-width: 751px) {
  .mobile-break, .burger {
    display: none;
  }
  .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: 0.9fr 3fr (0.5fr)[2];
        grid-template-rows: 0.9fr 3fr repeat(2, 0.5fr);
        grid-template-areas: "head head" "main main" "images images" "footer footer";
  }
  header {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: head;
    background-image: url("images/desktop/image-header.jpg");
  }
  header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 0;
  }
  header nav .logo {
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
  }
  header nav .toggle-menu {
    position: revert;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    top: 0;
    left: 0;
    width: auto;
    margin: 0;
    padding: 0;
    background-color: transparent;
  }
  header nav .toggle-menu li {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  header nav .toggle-menu li a {
    color: white;
  }
  header nav .toggle-menu li .button {
    background-color: white;
  }
  header nav .toggle-menu li .button:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
  }
  header nav .toggle-menu .right-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 20%;
  }
  header .title h1 {
    padding-top: 2%;
    padding-bottom: 2%;
  }
  main {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: main;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: (0.5fr)[4];
        grid-template-rows: repeat(4, 0.5fr);
        grid-template-areas: "brand egg" "wine standout" "graphic photo" "feedback feedback";
  }
  main .brand {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: brand;
    text-align: left;
    width: 58%;
  }
  main .brand h2 {
    font-size: 280%;
  }
  main .egg {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: egg;
  }
  main .wine {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: wine;
  }
  main .standout {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: standout;
    text-align: left;
    width: 58%;
  }
  main .standout h2 {
    font-size: 280%;
  }
  main .graphic {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: graphic;
    position: relative;
    width: 100%;
  }
  main .graphic .text-overlay {
    padding-left: 25%;
    padding-right: 25%;
    margin-top: 45%;
  }
  main .photo {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    grid-area: photo;
    position: relative;
    width: 100%;
  }
  main .photo .text-overlay {
    padding-left: 25%;
    padding-right: 25%;
    margin-top: 45%;
  }
  main .container-clients {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: feedback;
  }
  main .container-clients .clients {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 0.5fr (0.7fr)[3] 0.5fr;
        grid-template-columns: 0.5fr repeat(3, 0.7fr) 0.5fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: ". emily thomas jennie .";
    -webkit-column-gap: 2%;
            column-gap: 2%;
    padding-top: 5%;
  }
  main .container-clients .clients .emily {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: emily;
  }
  main .container-clients .clients .thomas {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: thomas;
  }
  main .container-clients .clients .jennie {
    -ms-grid-row: 1;
    -ms-grid-column: 4;
    grid-area: jennie;
  }
  main .container-clients .clients img + p {
    width: 100%;
  }
  .images {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: images;
  }
  .images .gallery {
    list-style: none;
    padding: 0;
    margin: 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "milk fruit cone cube";
  }
  .images .gallery .milk {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: milk;
  }
  .images .gallery .orange {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: fruit;
  }
  .images .gallery .cone {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: cone;
  }
  .images .gallery .cube {
    -ms-grid-row: 1;
    -ms-grid-column: 4;
    grid-area: cube;
  }
}

@media screen and (min-width: 751px) and (max-width: 1260px) {
  main .brand {
    width: 80%;
  }
  main .brand h2 {
    font-size: 200%;
  }
  main .standout {
    width: 80%;
  }
  main .standout h2 {
    font-size: 200%;
  }
  main .graphic .text-overlay {
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 40%;
  }
  main .graphic h3 {
    margin-bottom: 2%;
  }
  main .photo .text-overlay {
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 40%;
  }
  main .photo h3 {
    margin-bottom: 2%;
  }
  main .container-clients .clients {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 0.05fr (5fr)[3] 0.05fr;
        grid-template-columns: 0.05fr repeat(3, 5fr) 0.05fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: ". emily thomas jennie .";
    -webkit-column-gap: 1%;
            column-gap: 1%;
  }
  main .container-clients .clients .emily {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: emily;
  }
  main .container-clients .clients .thomas {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: thomas;
  }
  main .container-clients .clients .jennie {
    -ms-grid-row: 1;
    -ms-grid-column: 4;
    grid-area: jennie;
  }
}

@media screen and (min-width: 751px) and (max-width: 965px) {
  .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 700px (1fr)[3];
        grid-template-rows: 700px repeat(3, 1fr);
        grid-template-areas: "head" "main" "images" "footer";
  }
  header {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: head;
  }
  main {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: main;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (0.1fr)[7];
        grid-template-rows: repeat(7, 0.1fr);
        grid-template-areas: "egg" "brand" "wine" "standout" "graphic" "photo" "feedback";
  }
  main .egg img, main .brand img, main .glass img, main .standout img, main .graphic img, main .photo img {
    width: 100%;
  }
  main .egg {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: egg;
  }
  main .brand {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: brand;
    text-align: center;
  }
  main .glass {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: wine;
  }
  main .standout {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: standout;
    text-align: center;
  }
  main .graphic {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    grid-area: graphic;
  }
  main .graphic .text-overlay {
    margin-top: 50%;
    padding-left: 20%;
    padding-right: 20%;
  }
  main .photo {
    -ms-grid-row: 6;
    -ms-grid-column: 1;
    grid-area: photo;
  }
  main .photo .text-overlay {
    margin-top: 50%;
    padding-left: 20%;
    padding-right: 20%;
  }
  main .container-clients {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
    grid-area: feedback;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 10%;
    padding-bottom: 10%;
  }
  main .container-clients .clients {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "emily"  "thomas"  "jennie";
    padding-top: 5%;
  }
  main .container-clients .clients .emily {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: emily;
  }
  main .container-clients .clients .thomas {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: thomas;
  }
  main .container-clients .clients .jennie {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: jennie;
  }
  main .container-clients .clients img + p {
    width: 70%;
  }
}
/*# sourceMappingURL=styles.css.map */